
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #3e4551"
          >
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div >
            <h5 class="text-uppercase">FOOTER CONTENT</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestiae modi cum ipsam ad, illo possimus laborum ut
              reiciendis obcaecati. Ducimus, quas. Corrupti, pariatur eaque?
              Reiciendis assumenda iusto sapiente inventore animi?
            </p>
          </div>
          <!--Grid column-->

         

          
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <section>
        <div
             class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)"
             >
            © 2024 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/"
             >MDBootstrap.com</a
            >
        </div>
    </section>
  
    
  </footer>

