<input type="text" placeholder="Rechercher des suggestions..." class="search-bar"  />
<div class="row">
<div class="container col-md-6" *ngFor="let item of Suggestions" >

<div class="suggestion-card ">
  <div class="header">
    <h2>{{item.title}}</h2>
    <div class="meta">
      <span class="category">{{item.category}}</span>
      <span class="date">{{item.date | date:'yy/MM/dd'}}</span>
    </div>
  </div>

  <p class="description">
    {{item.description}}
  </p>

  <span class="status" 
  [ngClass]="{'accepted': item.status === 'acceptee', 'rejected': item.status === 'refusee', 'waiting': item.status === 'en_attente'}">{{item.status}}</span>

  <div class="actions" *ngIf="item.status=='acceptee'">
    <button class="like-btn" (click)="likeSuggestion(item.id)">
      👍 Like {{item.nbrLikes}}
    </button>

    <button class="fav-btn">
      🤍 Ajouter aux favoris
    </button>
     
  </div>
  <button class="btn btn-primary" [routerLink]="['suggestionDetails', item.id]" [queryParams]="{name:item.category}">Details</button>
</div>

</div>
<div class="col-md-6">
  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illum voluptatum molestias, exercitationem quam minus quaerat ab commodi! Ratione similique, impedit quis sit hic quia quas omnis odio molestiae officiis.</p> -->
<router-outlet></router-outlet>
</div>
</div>